<% if (messages && messages.success) { %>
  <h3 style="color: white;"><%= messages.success %></h3>
<% } %>
<% if (messages && messages.error) { %>
  <h3 style="color: red;"><%= messages.error %></h3>
<% } %>