<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>

  <link rel="stylesheet" href="./css/style.css">
  <!-- <script src="./js/script.js"defer></script> -->
  <title>Drive</title>
</head>
<body>
  <main>
    <h1><%= title %></h1>

  </main>

</body>
</html>