<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>

  <link rel="stylesheet" href="./css/style.css">
  <!-- <script src="./js/script.js"defer></script> -->
  <title>Home</title>
</head>
<body>
  <main>
    <h1><%= title %></h1>
    <form action="/sign-in" method="POST">
      <input type="email" name="email" id="email" placeholder="Email" autocomplete="email">

      <input type="password" name="password" id="password" placeholder="Password">

      <button type="submit">Submit</button>
    </form>
  </main>

</body>
</html>