<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>

  <link rel="stylesheet" href="./css/style.css">
  <!-- <script src="./js/script.js"defer></script> -->
  <title>Upload</title>
</head>
<body>
  <main>
    <h1><%= title %></h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" required>
      <% if (message) { %>
        <h3><%= message %></h3>
      <%}%>
      <button type="submit">Upload</button>
    </form>
    
  </main>

</body>
</html>